USE [master]
GO
/****** Object:  Database [ProductDB]    Script Date: 7/5/2021 11:37:26 AM ******/
CREATE DATABASE [ProductDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ProductDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ProductDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Generate_UID]    Script Date: 7/5/2021 11:37:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_Generate_UID](@table varchar(20), @number int)
RETURNS VARCHAR(20)
BEGIN
	DECLARE @uniqueID VARCHAR(20);

	SET @uniqueID = LOWER(SUBSTRING(@table, 1, 3)) + '-' + CONVERT(varchar(15), @number);

	RETURN(@uniqueID);
END;
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/5/2021 11:37:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [varchar](20) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Price] [smallmoney] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[usp_Generate_UID]    Script Date: 7/5/2021 11:37:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[usp_Generate_UID](
	@table varchar(20),
	@uniqueID varchar(20) OUTPUT
) 
AS
BEGIN
	EXEC ('SELECT * FROM ' + @table);
	SET @uniqueID = LOWER(SUBSTRING(@table, 1, 3)) + '-' + CONVERT(varchar(15), @@ROWCOUNT + 1);
END;
GO
USE [master]
GO
